@{
    ViewBag.Title = "Converted";
}


<h1><FONT COLOR = #1E90FF> Recognized text: </h1>
<FONT COLOR = #000000>
<p> @ViewBag.Out</p>
<p> Not recognized: @ViewBag.NotRecognized</p>
<img src="data:image/jpeg;base64,@ViewBag.Image" />
@foreach (var p in ViewBag.Files)
{
    var pumaPage = new Puma.Net.PumaPage(p);
    using (pumaPage)
    {
        pumaPage.FileFormat = Puma.Net.PumaFileFormat.RtfAnsi;
        pumaPage.EnableSpeller = true;        
        pumaPage.FontSettings.DetectItalic = true;
        pumaPage.Language = Puma.Net.PumaLanguage.Russian;
        try
        {
        <p>Recognized text: @MVCTraining.PriceRecognizer.RecognizePrice(pumaPage.RecognizeToString()); <br /> <img src="data:image/jpeg;base64, @MVCTraining.Controllers.HomeController.BitmapToBase64(new System.Drawing.Bitmap(p)) " /></p>
        }
        catch (Exception e)
        {
            <p> @e.Message <img src="data:image/jpeg;base64, @MVCTraining.Controllers.HomeController.BitmapToBase64(new System.Drawing.Bitmap(p)) " /></p> 
        }
    } 
}