@using System.Web.Optimization
@using Taggy
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="taggy price converter ocr recognition">
    <meta name="author" content="VASAG">

    <title>Taggy - Конвертер цен</title>
     <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/css")
  </head>

  <body>
    <div class="container">
      <div class="header">
    
       <div class="bs-component">
       <div class="navbar navbar-default">
       <div class="navbar-header">
       <a class="navbar-brand" href="#">Taggy - Конвертер цен</a>
       </div>

       <div class="navbar-collapse collapse navbar-responsive-collapse">
       <ul class="nav navbar-nav navbar-right">
       @Html.MenuLink("Конвертер", "Index", "Home")
          @Html.MenuLink("Рекомендации","Information","Home")
          @Html.MenuLink("Об авторе", "About", "Home")
       </ul>
       </div>
       </div>
       </div>
      </div>

      <div class="well">
      	@RenderBody()
      </div>

      <div class="footer">
        <span id="getting-location"></span>
        <p>&copy; VASAG 2014</p>
      </div>

    </div> <!-- /container -->
      
    @Scripts.Render("~/js")
    @RenderSection("scripts", required: false)
  </body>
</html>
		